.section{
  height: 100px;
  border: 1px dashed green;
}
.section_header{
  padding: 5px;
}
.section_header_space{
  margin: 17px;

 }
.section_header.header_color>span{
  margin: 10px;
}
.field_op{
  //float: right;
  color: blue;
}
