<div class="section " >
    <!--<section-header></section-header>-->
    <div class="section_header header_color">
        <span>{{sectionCtrl.sectionData.sectionName}}</span>
        <span ui-sref="{{'section'+headerOp.operation}}({section:sectionCtrl.sectionData})" class="section_op" ng-repeat = "headerOp in sectionCtrl.sectionData.headerSectionOpeartion">
            {{headerOp.operation}}
        </span>
        <span class="field_op" ng-repeat = "headerFieldOp in sectionCtrl.sectionData.fieldOperation">
            {{headerFieldOp}}
        </span>
    </div>
    <!--<section-data></section-data>-->
    <div class="section_data section_data_color"></div>
</div>
