//.section{
//  height: 100px;
//  border: 1px dashed green;
//}
//.section_header{
//  padding: 5px;
//}
//.section_header_space{
//  margin: 17px;
//
// }
//.section_header.header_color>span{
//  margin: 10px;
//}
//.field_op{
//  //float: right;
//  color: blue;
//}
.modal {
  display: block;
}
.modal-body:before,
.modal-body:after {
  display: table;
  content: " ";
}
.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}
.m_l{
  margin-left: 15px;
}