<div class="modal-dialog">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Delete Section</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-4" ng-repeat="d in [{id:1,name:'new'},{id:2,name:'default'}] track by $index">
                <input  id='{{"data-type-radio-btn-"+d.id}}' type="radio" name="data-type" ng-value="d.id" ng-model="$ctrl.selectedItem.sectionType">
                <label class="RadioButtonLabel" for='{{"data-type-radio-btn-"+d.id}}'
                       ng-bind="d.name"></label>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="sectionName">sectionName:</label>
                <input readonly type="text" class="form-control" id="sectionName" ng-model="$ctrlDelete.selectedItem.sectionName">
            </div>
        </div>
        <div class="row">
            <span class="m_l">order position</span>
            <div>
                <select  disabled id="orderDropDown" class="font-label btn col-sm-2 m_l" name="mySelect" ng-model="$ctrlDelete.selectedItem.order.name" ng-options="option.name as option.alias for option in $ctrlDelete.orderDropDown.availableSections" >
                </select>
                <select disabled id="SectionListDropDown" class="font-label btn col-sm-offset-1 col-sm-3" name="mySelect1" ng-model="$ctrlDelete.selectedItem.section.name" ng-options="option.name as option.alias for option in $ctrlDelete.SectionListDropDown.availableSections" >
                </select>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrlDelete.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrlDelete.cancel()">Cancel</button>
    </div>
</div>