.main {
	padding: 15px;
    margin: 15px;
}

.newColor{
	color:green;
	background:red;
}
.oldColor{
	color:#ff7a00;
	background:grey;
}
.full_height_sidebar{
	position: fixed;
	height: 100%;
	background-color: #404978;
	color: white;
}
#mainContainer{
	background: white;
	border: 1px solid green;
}
.header_color{
	background: #595555;
	color: white;
}
.section_data_color{
	background: lightslategrey;
}