<!--<div class="section " >-->
    <!--&lt;!&ndash;<section-header></section-header>&ndash;&gt;-->
    <!--<div class="section_header header_color">-->
        <!--<span>{{sectionCtrl.sectionData.sectionName}}</span>-->
        <!--<span class="section_op" ng-repeat = "headerOp in sectionCtrl.sectionData.headerSectionOpeartion">-->
            <!--{{headerOp}}-->
        <!--</span>-->
        <!--<span class="field_op" ng-repeat = "headerFieldOp in sectionCtrl.sectionData.fieldOperation">-->
            <!--{{headerFieldOp}}-->
        <!--</span>-->
    <!--</div>-->



    <!--&lt;!&ndash;<section-data></section-data>&ndash;&gt;-->
    <!--{{}}-->
<!--</div>-->
